
			*{
				margin: 0px;
				padding: 0px;
			}

			#empty
			{
					height: 0px;
			}

			.hd {
				width: 100%;
      				  height: 120px;
				background: #e8dfd6;
			  border-bottom: 4px solid #c4c2bc;
			    /*	position: fixed; */
			}
			
			.ft:hover {
				width: 100%;
				background: #4f4e4e;
			  border-top: 4px solid #ffffff;
			}
			
			.ft {
				width: 100%;
				background: #ffffff;
			  border-top: 4px solid #4f4e4e;
			  transition: 1s;
			}
			
			.ft a {
				color : #0a0a0a;
				transition: 1s;
			}
			.ft:hover a {
				color : #f0eded;
			}
			
			
			a  {
				font-family: 'Lobster', cursive;
				margin : 10%;
				font-size: 60px;
				
				text-decoration: none;
				
			}
			a:active {
				font-family: 'Lobster', cursive;
				margin : 10%;
				font-size: 60px;
				color : #f27f27;
				text-decoration: none;
			}
    /*

    font-family: 'Lobster', cursive;

    font-family: 'Open Sans', sans-serif;

*/
			.avatar
			{
			 height:100px;
			 float:left;
			 margin: 10px;
			 margin-left: 30%;


			}
			.pagetext
			{
				margin-top: 25px;
				font-size: 30px;
				float: left;
				padding: 10px;
				font-family: 'Lobster', cursive;
				margin-left: 40px;

			}
	.image
	{
		width: 100%;min-width: 100%;
	}
	.text
	{
           padding: 30px;
           border-top: 3px solid #c4c2bc;
	   border-bottom: 3px solid #c4c2bc;
	   background: #ffffff;

	}

        .text h3
        {
            font-family: 'Lobster', sans-serif;
            margin-bottom : 10px;
            margin-top: 15px;
	    border-bottom: 2px solid #f75c19;


        }

        .text h4
        {
          font-family: 'Open Sans', sans-serif;
          font-size : 14px;
     
	}


.img2{
	padding: 0 15 0 0;
}

.wblock
{
display: inline-table;
    width:20%;
margin:30px;

}

.wblock h4
{
font-family: 'Open Sans', sans-serif;
font-size:14px;
}

.point{
	padding: 0 0 0 20;
	font-size: 20px;
}
td{
	padding: 0 100;
	vertical-align: top;
}
