
			*{
				margin: 0px;
				padding: 0px;
			}

			@media screen and (orientation: landscape)
			{
			.hd {
        height: 120px;
				background: #e8dfd6;
			  border-bottom: 1px solid #c4c2bc;
				position: fixed;
			}
    /*

    font-family: 'Lobster', cursive;

    font-family: 'Open Sans', sans-serif;

*/
			.avatar
			{
			 height:100px;
			 float:left;
			 margin: 10px;
			 margin-left: 30%;


			}
			.pagetext
			{
				margin-top: 25px;
				font-size: 30px;
				float: left;
				padding: 10px;
				font-family: 'Lobster', cursive;
				margin-left: 40px;
			}
				.image
				{
					width: 100%;min-width: 100%;
				}
				.text
				{
           padding: 40px;
           background: #e8dfd6;
           border-top: 1px solid #c4c2bc;
				}
        .text h3
        {
          font-family: 'Open Sans', sans-serif;
            margin-left: 25%;
        }

        .text h4
        {
          font-family: 'Open Sans', sans-serif;
            margin: 40px;
        }
			}

				@media screen and (orientation: portrait)
				{
					.hd {
						height: 120px;
						background: #e8dfd6;
						border-bottom: 1px solid #c4c2bc;
						position: fixed;
					}
				/*font-family: 'Lobster', cursive;
				 font-family: 'Comfortaa', cursive;*/
					.avatar
					{
					 height:100px;
					 float:left;
					 margin: 10px;
					 margin-left: 5%;


					}
					.pagetext
					{
						margin-top: 25px;
						font-size: 30px;
						float: left;
						padding: 10px;
						font-family: 'Lobster', cursive;
						margin-left: 20px;
					}
						.image
						{
							width: 100%;min-width: 100%;
						}
						.text
						{
							 padding: 10px;
							 background: #e8dfd6;
							 border-top: 1px solid #c4c2bc;
						}
						.text h3
						{
								font-family: 'Comfortaa', cursive;
								margin:20px;
								margin-left: 15%;
						}

						.text h4
						{
								font-family: 'Comfortaa', cursive;
								font-size: 15px;
								margin: 10px;
						}
				}
